{{#each model as |article|}}
    <div class="row" style="margin-top: 30px">
        <h1 id="name" style="color: black">{{article.title}}</h1>
    </div>
    <div class="row" style="margin-top: 30px">
        {{{article.body}}}
    </div>
{{/each}}