<h4>Odevzdané soubory</h4>
<a href="javascript:void()" {{action "all"}}> Stáhnout všechny soubory v ZIP archivu</a>
<ul>
    {{#each evaluation.general.files.files as |file|}}
    {{submitted-file file=file del="delete_file" deletable=false}}
    {{else}}
    <p>Nebyly odevzdány žádné soubory.</p>
    {{/each}}
</ul>
