<div class="panel panel-ksi">
	  <div class="panel-heading panel-heading-ksi" style="hight:400px">
      {{model.user.full_name}}
      <div style="float: right;">
        {{model.task_id.title}}
      </div>
    </div>
	  <div class="panel-body">
	     <!--<div id="date-text">
         řešení naposledy upraveno: 2.12.2014 16:35
         <div style="float: right;">
           Opravil: Heňo
         </div></div>
       <hr>

       <button class="btn btn-sm btn-primary" style="width: 250px; margin-left:0px">Stáhnout řešení</button>-->
       <div class="form-group" style="margin-top:20px">
         <form style="margin: 0; padding: 0;">
          <p>
            <label>Body: </label>
            <input id="points" style="display: inline;" type="input"/> <!-- body -->
            <label>Přidat trofej: </label>
            <select>
              <option><img src="http://placehold.it/30x30"> trofej</option> <!-- TODO obrazky z databaze -->
              <option><img src="http://placehold.it/30x30"> trofej</option>
              <option><img src="http://placehold.it/30x30"> trofej</option>
            </select>
            <label> Trofeje:</label>
            <img src="http://placehold.it/30x30"> <!-- TODO kliknutim smazat -->
          </p>
        </form>
       </div>

       <div class="form-group" style="margin-top:20px">
         <label>Komentář:</label>
         {{#if model.comment}}
          {{thread-view thread=model.comment}}
         {{else}}
          Načítám
         {{/if}}
       </div>
    </div>
	</div>