<div class="alert alert-warning" role="alert" style="margin:20px">
	<!-- TODO color poznamky -->
	<strong>Poznámka:</strong> odevzdávejte všechny vaše soubory řešení v jediném zip souboru. <!-- TODO odkaz na clanek, ako odevzdavat ukoly -->
</div>
<div style="margin:20px">
	Soubor k odevzdání: {{input placeholder="Soubor s řešením"}}
</div>