<div class=row>
	{{{module.description}}}
</div>
{{#if general_error}}
	{{warning-general text=general_error}}
{{/if}}
<div class="alert alert-warning" role="alert" style="margin:20px">
	<!-- TODO color poznamky -->
	<strong>Poznámka:</strong> Odevzdat můžete i více různých souborů naráz, stačí je vybrat. <!-- TODO odkaz na clanek, ako odevzdavat ukoly -->
</div>
<div style="margin:20px">
	Soubor k odevzdání: {{solution-file-upload placeholder="Soubor s řešením" valid="valid" invalid="invalid" class="btn-primary" upload_finished="upload_finished" upload_failed="upload_failed" factionReceiver=file_upload}}
	{{#if files}}
		Vybrané soubory:
		<ul>
			{{#each files as |file|}}
				<li>{{file}}</li>
			{{/each}}
		</ul>
	{{/if}}
</div>