<nav class="navbar navbar-default navbar-static-top navbar-left navbar-admin" style="z-index:100" id=navbaradmin>
  <div class="container-fluid">
    <div id="bs-admin-navbar-collapse">
      <div class="navbar-inner">
        <ul class="nav navbar-nav">
          <li class="navbar-admin-li">{{#link-to "admin/e-mail"}}E-mail{{/link-to}}</li>
          <!-- <li class="navbar-admin-li">{{#link-to "admin/schools"}}Školy{{/link-to}}</li> -->
          <li class="navbar-admin-li">{{#link-to "admin/forum"}}Diskuze{{/link-to}}</li>
          <li class="navbar-admin-li">{{#link-to "admin/achievements"}}Trofeje{{/link-to}}</li>
          <li class="navbar-admin-li">{{#link-to "admin/users"}}Uživatelé{{/link-to}}</li>
          <li class="navbar-admin-li">{{#link-to "admin/years"}}Ročníky{{/link-to}}</li>
          <li class="navbar-admin-li">{{#link-to "admin/waves"}}Vlny{{/link-to}}</li>
          <li class="navbar-admin-li">{{#link-to "admin/tasks"}}Úlohy{{/link-to}}</li>
          <li class="navbar-admin-li">{{#link-to "admin/articles"}}Články{{/link-to}}</li>
          <li class="navbar-admin-li">{{#link-to "admin/correcting"}}Opravování{{/link-to}}</li>
          <li class="navbar-admin-li"><a href="https://github.com/fi-ksi/seminar/wiki">Wiki</a></li>
        </ul>
      </div>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
