<div class="alert alert-info {{class}}" role="alert" id={{id}}>
    <a href="#" class="close" aria-label="close" {{action "onClose"}}>&times;</a>
    <div style="text-align:center">
        <p class="navbar-btn">
            {{{text}}}
         </p>
    </div>
</div>
