{{#each model as |org index|}}
    <div class="col-xs-6 col-md-3" style="text-align:center;">
      {{#link-to "user-profile" org}}
          <img src="{{org.profile_picture_r}}" class="org" alt="Organizátor {{org.full_name}}" title="Skóre orga: {{org.score}}">
      {{/link-to}}
      {{#link-to "user-profile" org}}
            <div class="org-index-name ">{{org.full_name}}</div>
      {{/link-to}}
    </div>
{{/each}}
