<div class="panel panel-default" style="border:none; box-shadow: none;">
    <div class="controls form-inline" style="margin-top:20px">
        <label for="threadName">Příspěvek:</label>
        {{text-editor value=taskNewArticleEditor}}
    </div>
    <button class="btn btn-sm btn-primary" style="margin-top:20px">Odeslat</button>
</div>
