<h3>Feedback</h3>
<div style="margin: 20px;">
    {{#each feedbacks.categories as |singleFeedback|}}
        <h4>{{singleFeedback.text}}</h4>   
        {{#if (eq singleFeedback.testType "stars") }}
            *****
        {{/if}}
        {{#if (eq singleFeedback.testType "line") }}
            ---
        {{/if}}
        {{#if (eq singleFeedback.testType "text_large") }}
            {{input type="text" placeholder="Cokoliv, co tě napadá." value=singleFeedback.answer}}
        {{/if}}
        <br>
    {{/each}}
</div>
