<div class="container-fluid" id="graph-content">
    {{#unless root_node}}
        <p>V aktuálním ročníku nejsou zveřejněny zatím žádné úlohy.</p>
    {{/unless}}
    <div class="centre" style="margin: 10px">
        <!-- cytoscape graf -->
        <div id="cy"></div>
    </div>
</div>
