<div class="alert alert-danger {{class}}" role="alert" id={{id}}>
    <div style="text-align:center">
        <p class="navbar-btn">
            {{#unless disable_warning}}<strong>Chyba: </strong> {{/unless}} {{{text}}}
         </p>
    </div>
</div>
