<div class="alert alert-danger" role="alert">
	<div style="text-align:center">
	  	<p class="navbar-btn" data-toggle="modal" data-target="#login-modal">
	  		<strong>Pozor: </strong> {{text}}   <a href="javascript:void(0)">Přihlásit se</a>
	     </p>
	</div>
</div>