//
// width of horizontal lines
//
$border-h-width: 3px;

h1,
h2,
h3,
h4,
h5,
h6 {
    text-transform: uppercase;
    font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 700;
}

#gray-text {
  color: ksi-color-level('text-dark', 5);
}

#profile-text {
  margin-right: 15px;
  margin-left: 7px;
  font-size:medium;
  color: ksi-color-level('text-dark', 5);
}

#profile-points {
  font-size:medium;
  color: ksi-color('text-dark');
}

#profile-points-text {
  margin-left: 4px;
  font-size:medium;
  color: ksi-color-level('text-dark', 5);
}

#date-text {
  margin-left: 4px;
  font-size:medium;
  color: ksi-color-level('text-dark', 5);
}

#header-text {
  font-size:medium;
  margin:auto;
  color: ksi-color('text-light');
}
