//
// width of horizontal lines
//
$border-h-width: 3px;

h1,
h2,
h3,
h4,
h5,
h6 {
    text-transform: uppercase;
    font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 700;
}

#gray-text {
  color: ksi-color-level('text-dark', 5);
}

#date-text {
  margin-left: 4px;
  font-size:medium;
  color: ksi-color-level('text-dark', 5);
}
