.btn-header {
  background-color: ksi-color('primary-orange');
  color:ksi-color('text-light');
  border-radius: 0;
}

.btn-header:hover {
  background: ksi-color('secondary-orange');
  color:ksi-color('text-light');
}

.btn-primary {
  background-color: ksi-color('primary-orange');
  color:ksi-color('text-light');
  border-width: 0;
}

.btn-vertical {
  padding:0px 0px 0px 0px;
  text-align: center;
  margin:0px;
  width: 160px;
  height:40px;
  z-index:15;
  background-color: ksi-color('primary-dark');
  border-width: 0px;
  -moz-transform:rotate(90deg);
  -ms-transform:rotate(90deg);
  -o-transform:rotate(90deg);
  -webkit-transform:rotate(90deg);
  transform-origin: bottom left;
  position: fixed;
  border-radius: 0px;
  left: 0px;
}

.btn-vertical:hover {
  background-color: ksi-color('secondary-orange');
}

.btn-task {
  width: 200px;
}

.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open > .dropdown-toggle.btn-primary {
    background: ksi-color('secondary-orange');
}
.btn-primary:active, .btn-primary.active {
    background: ksi-color('primary-orange');
    box-shadow: none;
}

.btn-primary.outline:hover, .btn-primary.outline:focus, .btn-primary.outline:active, .btn-primary.outline.active, .open > .dropdown-toggle.btn-primary {
    background: ksi-color('primary-orange');
    color: ksi-color('primary-orange');
}
.btn-primary.outline:active, .btn-primary.outline.active {
    border-color: ksi-color('primary-orange');
    color: ksi-color('primary-orange');
    box-shadow: none;
}

.fileUpload {
    position: relative;
    overflow: hidden;
    width: 200px;
}
.fileUpload input.upload {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    padding: 0;
    font-size: 20px;
    cursor: pointer;
    opacity: 0;
    filter: alpha(opacity=0);
}

//
// start button
//
.the-button { margin-top:270px; padding-top: 5px }

//
//pager button
//
.btn-pager {
  margin: 10px;
  width: 180px;
}

.invisible {
  opacity: 0;
}
