#graph-info-panel {
  min-width:200px;
}

.node-info {
  width:100%;
  max-width:30px;
  padding: 3px;
}

.node-info-big {
  width:100%;
  max-width:32px;
  padding: 3px;
  padding-left: 0px
}

.mouseover { cursor: pointer; }