.jumbotron-about {
    background-color: ksi-color('primary-orange');
    width: 100%;
    margin: 0 auto;
    text-align: center;
    padding: 0px;
}

#background-image { position: fixed; top: 0; left: 0; }
.bgwidth { width: 100%; }
.bgheight { height: 90%; }
