.panel-ksi {
  border-color: ksi-color-level('primary-orange',6);
}

.panel-ksi > .panel-heading-ksi {
  background: ksi-color-level('primary-orange',9.5);
  color: ksi-color('secondary-orange');
  border-color: ksi-color-level('primary-orange',6);
  font-weight: 600;
}
