.successful:nth-child(even) {
    background-color: ksi-color-level('primary-orange', 9.5) !important;
}

.successful:nth-child(odd) {
    background-color: ksi-color-level('primary-orange', 9) !important;
}
