.node-base {
  width: 85px;
  height: 85px;
  background-width: 83px;
  background-height: 83px;
  background-color: white;
  background-opacity: 0;

  color: white;
  font-size: 14;
  content: data(name);
  text-valign: center;
  text-transform: uppercase;
  text-wrap: wrap;
  text-max-width: 70px;
}

.graph-qtip {
  background: white;//ksi-color-level('primary-orange',9.5);
  color: ksi-color('secondary-orange');

  border-radius: 5px;
  border-color: ksi-color-level('primary-orange',6);

  font-family: Arial, Helvetica, sans-serif;
}

.graph-qtip .qtip-title{
  margin: 5px;
  text-align: left;
  text-transform: uppercase;
  font-size: 15px;
}

.graph-qtip .qtip-content{
  margin: 5px;
  font-size: 14px;
}
