#profile-picture-profile {
    border-radius: 25px;
    width: 100%;
    max-width:250px !important; /* Important when printing page */
}

.single-profile-achievement {
    padding: 15px;
    width: 22%;
    margin-right: 15px;
    margin-bottom: 15px;
    min-width: 130px;
}

h4.achievement-text-name {
    text-align:center;
}

.achievement-text-description > p{
    margin:0;
    text-align:center;
}

@media screen {
    .profile-picture-task {
        max-width: 45px;
    }
}

@media print {
     .profile-picture-task {
        max-width: 23px !important; /* Important when printing page */
     }

     .panel-profile-assignment {
        margin-bottom: 0px;
        border: none;
     }

     .panel-profile-assignment .panel-body {
        padding: 2px;
     }

     .panel-profile-assignment h5 {
        margin-top: 2px;
        margin-bottom: 2px;
     }

     .panel-profile-achievement {
        padding: 0px !important;
     }
}
