@media screen {
    .task-title {
        margin-top: 30px;
    }
}

@media print {
    /* rozbalit collapse bloky pri tisku */
    #task-assignment .collapse {
        display: block !important;
    }
}

#task-assignment img, #task-solution img, #task-module-body img {
    max-width: 100%;
    height: auto;
}

