// Apply this to the enclosing row
.row-centered {
  text-align: center;
  display:inline-block;
}

.inline-footer {
  display: inline-block;
  vertical-align: middle;
  float:left;
}

footer {
    color: ksi-color('text-light');
    position:absolute;
    bottom: 0;
    left: 0;
    width: 100%;
}

footer h3 {
    margin-top: 20px;
}

footer .footer-above {
    padding-top: 10px;
    background-color: ksi-color('secondary-dark');
    vertical-align: center;
}

footer .footer-col {
    margin-bottom: 5px;
}

footer .footer-below {
    padding: 15px 0;
    background-color: ksi-color('primary-dark');
}

/* footer */
.footer-logo {
  width: 50px;
  height: 50px;
  display: block;
  border: none;
  margin: 0 0 10px 10px;
}

/* specific logos */
div#preload { display: none; }
 #mail-logo {
   background: url("/img/logos/email.svg") top left no-repeat;
   background-size: 50px 50px;
 }
 #mail-logo:hover {
   background: url("/img/logos/email-hover.svg") top left no-repeat;
   background-size: 50px 50px;
 }

 #facebook-logo {
   background: url("/img/logos/facebook.svg") top left no-repeat;
   background-size: 50px 50px;
 }
 #facebook-logo:hover {
   background: url("/img/logos/facebook-hover.svg") top left no-repeat;
   background-size: 50px 50px;
 }

 #youtube-logo {
   background: url("/img/logos/youtube.svg") top left no-repeat;
   background-size: 50px 50px;
 }
 #youtube-logo:hover {
   background: url("/img/logos/youtube-hover.svg") top left no-repeat;
   background-size: 50px 50px;
 }

 #fi-logo {
   background: url("/img/logos/fi.svg") top left no-repeat;
   background-size: 50px 50px;
 }
 #fi-logo:hover {
   background: url("/img/logos/fi-hover.svg") top left no-repeat;
   background-size: 50px 50px;
 }

 #mu-logo {
   background: url("/img/logos/mu.svg") top left no-repeat;
   background-size: 50px 50px;
 }
 #mu-logo:hover {
   background: url("/img/logos/mu-hover.svg") top left no-repeat;
   background-size: 50px 50px;
 }

//TODO
 #prf-logo {
   background: url("/img/logos/youtube.svg") top left no-repeat;
   background-size: 50px 50px;
 }
 #prf-logo:hover {
   background: url("/img/logos/youtube-hover.svg") top left no-repeat;
   background-size: 50px 50px;
 }

 #keks-logo {
   background: url("/img/logos/keks.svg") top left no-repeat;
   background-size: 50px 50px;
 }
 #keks-logo:hover {
   background: url("/img/logos/keks-hover.svg") top left no-repeat;
   background-size: 50px 50px;
 }

 #brkos-logo {
   background: url("/img/logos/brkos.svg") top left no-repeat;
   background-size: 50px 50px;
 }
 #brkos-logo:hover {
   background: url("/img/logos/brkos-hover.svg") top left no-repeat;
   background-size: 50px 50px;
 }

//TODO
 #mam-logo {
   background: url("/img/logos/youtube.svg") top left no-repeat;
   background-size: 50px 50px;
 }
 #mam-logo:hover {
   background: url("/img/logos/youtube-hover.svg") top left no-repeat;
   background-size: 50px 50px;
 }

//TODO
 #vybuch-logo {
   background: url("/img/logos/youtube.svg") top left no-repeat;
   background-size: 50px 50px;
 }
 #vybuch-logo:hover {
   background: url("/img/logos/youtube-hover.svg") top left no-repeat;
   background-size: 50px 50px;
 }

 #sob-logo {
   background: url("/img/logos/intersob.svg") top left no-repeat;
   background-size: 50px 50px;
 }
 #sob-logo:hover {
   background: url("/img/logos/intersob-hover.svg") top left no-repeat;
   background-size: 50px 50px;
 }

 #los-logo {
   background: url("/img/logos/los.svg") top left no-repeat;
   background-size: 50px 50px;
 }
 #los-logo:hover {
   background: url("/img/logos/los-hover.svg") top left no-repeat;
   background-size: 50px 50px;
 }

 #ksp-logo {
   background: url("/img/logos/ksp.svg") top left no-repeat;
   background-size: 50px 50px;
 }
 #ksp-logo:hover {
   background: url("/img/logos/ksp-hover.svg") top left no-repeat;
   background-size: 50px 50px;
 }

 #github-logo {
   background: url("/img/logos/github.svg") top left no-repeat;
   background-size: 50px 50px;
 }
 #github-logo:hover {
   background: url("/img/logos/github-hover.svg") top left no-repeat;
   background-size: 50px 50px;
 }

 #zverinec-logo {
   background: url("/img/logos/zverinec.svg") top left no-repeat;
   background-size: 50px 50px;
 }
 #zverinec-logo:hover {
   background: url("/img/logos/zverinec-hover.svg") top left no-repeat;
   background-size: 50px 50px;
 }

 #kscuk-logo {
   background: url("/img/logos/kscuk.svg") top left no-repeat;
   background-size: 50px 50px;
 }
 #kscuk-logo:hover {
   background: url("/img/logos/kscuk-hover.svg") top left no-repeat;
   background-size: 50px 50px;
 }

footer .footer-below a {
    color: white;
}
