
.navbar-btn{
     margin-left:10px;
}
.navbar-main {
    background-color: ksi-color('primary-dark');
    border-color: ksi-color('primary-dark');
    border-bottom: $border-h-width solid ksi-color('primary-orange');
}
.navbar-main .navbar-brand {
    color: ksi-color('text-light');
}
.navbar-main .navbar-brand:hover, .navbar-main .navbar-brand:focus {
    color: ksi-color('primary-orange');
}
.navbar-main .navbar-text {
    color: ksi-color('text-light');
}
.navbar-main .navbar-nav > li > a {
    color: ksi-color('text-light');
}
.navbar-main .navbar-nav > li > a:hover, .navbar-main .navbar-nav > li > a:focus {
    color: ksi-color('primary-orange');
}
.navbar-main .navbar-nav > li > .dropdown-menu {
    background-color: ksi-color('primary-dark');
}
.navbar-main .navbar-nav > li > .dropdown-menu > li > a {
    color: ksi-color('primary-orange');
}
.navbar-main .navbar-nav > li > .dropdown-menu > li > a:hover,
.navbar-main .navbar-nav > li > .dropdown-menu > li > a:focus {
    color: ksi-color('primary-orange');
    background-color: ksi-color('primary-dark');
}
.navbar-main .navbar-nav > li > .dropdown-menu > li > .divider {
    background-color: ksi-color('primary-dark');
}
.navbar-main .navbar-nav > .active > a, .navbar-main .navbar-nav > .active > a:hover, .navbar-main .navbar-nav > .active > a:focus {
    color: ksi-color('primary-orange');
    background-color: ksi-color('primary-dark');
}
.navbar-main .navbar-nav > .open > a, .navbar-main .navbar-nav > .open > a:hover, .navbar-main .navbar-nav > .open > a:focus {
    color: ksi-color('primary-orange');
    background-color: ksi-color('primary-dark');
}
.navbar-main .navbar-toggle {
    border-color: ksi-color('primary-dark');
}
.navbar-main .navbar-toggle:hover, .navbar-main .navbar-toggle:focus {
    background-color: ksi-color('primary-dark');
}
.navbar-main .navbar-toggle .icon-bar {
    background-color: ksi-color('text-light');
}
.navbar-main .navbar-collapse,
.navbar-main .navbar-form {
    border-color: ksi-color('text-light');
}
.navbar-main .navbar-link {
    color: ksi-color('text-light');
}
.navbar-main .navbar-link:hover {
    color: ksi-color('primary-orange');
}

.navbar-brand,
.navbar-nav li a {
    line-height: 70px;
    height: 70px;
    padding-top: 0;
}

@media (max-width: 767px) {
    .navbar-brand {
        padding: 0;
        margin-top: 5px;
    }
    .navbar-main .navbar-nav .open .dropdown-menu > li > a {
        color: ksi-color('text-light');
    }
    .navbar-main .navbar-nav .open .dropdown-menu > li > a:hover, .navbar-main .navbar-nav .open .dropdown-menu > li > a:focus {
        color: ksi-color('primary-orange');
    }
    .navbar-main .navbar-nav .open .dropdown-menu > .active > a, .navbar-main .navbar-nav .open .dropdown-menu > .active > a:hover, .navbar-main .navbar-nav .open .dropdown-menu > .active > a:focus {
        color: ksi-color('primary-orange');
        background-color: ksi-color('primary-dark');
    }
}

@media (max-width: 1000px) {
    .navbar-header {
        float: none;
    }
    .navbar-toggle {
        display: block;
    }
    .navbar-collapse {
        border-top: 1px solid transparent;
        box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
    }
    .navbar-collapse.collapse {
        display: none!important;
    }
    .navbar-nav {
        float: none!important;
        margin: 7.5px -15px;
    }
    .navbar-nav>li {
        float: none;
    }
    .navbar-nav>li>a {
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .navbar-text {
        float: none;
        margin: 15px 0;
    }
    /* since 3.1.0 */
    .navbar-collapse.collapse.in {
        display: block!important;
    }
    .collapsing {
        overflow: hidden!important;
    }
}
