.navbar-uloha {
    background-color: ksi-color('text-light');
    border-color: ksi-color('primary-orange');
}
.navbar-uloha .navbar-brand {
    color: ksi-color('primary-dark');
}
.navbar-uloha .navbar-brand:hover, .navbar-uloha .navbar-brand:focus {
    color: ksi-color('primary-dark');
}
.navbar-uloha .navbar-text {
    color: ksi-color('primary-dark');
}
.navbar-uloha .navbar-nav > li > a {
    color: ksi-color('primary-dark');
}
.navbar-uloha .navbar-nav > li > a:hover, .navbar-uloha .navbar-nav > li > a:focus {
    color: ksi-color('primary-dark');
}
.navbar-uloha .navbar-nav > li > .dropdown-menu {
    background-color: ksi-color('text-light');
}
.navbar-uloha .navbar-nav > li > .dropdown-menu > li > a {
    color: ksi-color('primary-dark');
}
.navbar-uloha .navbar-nav > li > .dropdown-menu > li > a:hover,
.navbar-uloha .navbar-nav > li > .dropdown-menu > li > a:focus {
    color: ksi-color('primary-dark');
    background-color: ksi-color('primary-orange');
}
.navbar-uloha .navbar-nav > li > .dropdown-menu > li > .divider {
    background-color: ksi-color('text-light');
}
.navbar-uloha .navbar-nav > .active > a, .navbar-uloha .navbar-nav > .active > a:hover, .navbar-uloha .navbar-nav > .active > a:focus {
    color: ksi-color('primary-dark');
    background-color: ksi-color('primary-orange');
}
.navbar-uloha .navbar-nav > .open > a, .navbar-uloha .navbar-nav > .open > a:hover, .navbar-uloha .navbar-nav > .open > a:focus {
    color: ksi-color('primary-dark');
    background-color: ksi-color('primary-orange');
}
.navbar-uloha .navbar-toggle {
    border-color: ksi-color('primary-orange');
}
.navbar-uloha .navbar-toggle:hover, .navbar-uloha .navbar-toggle:focus {
    background-color: ksi-color('primary-orange');
}
.navbar-uloha .navbar-toggle .icon-bar {
    background-color: ksi-color('primary-dark');
}
.navbar-uloha .navbar-collapse,
.navbar-uloha .navbar-form {
    border-color: ksi-color('primary-dark');
}
.navbar-uloha .navbar-link {
    color: ksi-color('primary-dark');
}
.navbar-uloha .navbar-link:hover {
    color: ksi-color('primary-dark');
}

@media (max-width: 767px) {
    .navbar-uloha .navbar-nav .open .dropdown-menu > li > a {
        color: ksi-color('primary-dark');
    }
    .navbar-uloha .navbar-nav .open .dropdown-menu > li > a:hover, .navbar-uloha .navbar-nav .open .dropdown-menu > li > a:focus {
        color: ksi-color('primary-dark');
    }
    .navbar-uloha .navbar-nav .open .dropdown-menu > .active > a, .navbar-uloha .navbar-nav .open .dropdown-menu > .active > a:hover, .navbar-uloha .navbar-nav .open .dropdown-menu > .active > a:focus {
        color: ksi-color('primary-dark');
        background-color: ksi-color('primary-orange');
    }
}
