.dropdown-toggle:active, .open .dropdown-toggle {
  background-color: ksi-color('primary-orange') !important;
  color: ksi-color('text-light') !important;
}

.navbar-trans {
  background-color: ksi-color('primary-dark');
  color: ksi-color('text-light');
  border-bottom: 4px solid ksi-color('primary-orange');
}

.navbar-trans .navbar-brand, .navbar-trans >.container-fluid .navbar-brand {
  padding: 14px;
  margin-right: 20px;
  color: ksi-color('primary-orange');
}

.navbar-brand >a {
  color: ksi-color('primary-orange');
}

.navbar-trans li>a:focus,.navbar-trans li.active {
  background-color: ksi-color('primary-orange');
  color:ksi-color('text-light');
}

.navbar-trans li>a:hover {
  background-color: ksi-color('secondary-orange');
  color: ksi-color('text-light');
}

.navbar-right li p {
    margin-top: 0px;
    margin-bottom: 0px;
}

.navbar-trans a{
  color:ksi-color('text-light');
  letter-spacing:1px;
}

.navbar-toggle {
  border-color: ksi-color('text-light');
}

.icon-bar {
  background-color: ksi-color('text-light');
}

.dropdown-menu {
  background-color: ksi-color('primary-dark');
}

.dropdown-menu > li > a {
  color: ksi-color('text-light');
}

.dropdown-menu > li > a:hover,
   .dropdown-menu > li > a:focus {
    color: ksi-color('text-light');
    text-decoration: none;
    background-color:  ksi-color('primary-orange');
}

#ksi-text-long {
    padding-left: 5px;
    vertical-align: middle;
    width: 200px;
}

@media (min-width: 1200px) {
    #ksi-text-short { display: none }
}

@media (max-width: 1199px) {
    #ksi-text-long { display: none }
}

