<section id="admin-task-edit" class="container content-section" style="text-align:justify">
  <h2>Úprava úlohy</h2>
  {{#link-to "admin/tasks"}}zpět na přehled{{/link-to}}
  <div class="panel panel-ksi" style="margin-top:20px">
    <div class="panel-body">

      <div class="form-group">
        <label>Název:</label>
        <input type="text" class="form-control">
      </div>

      <div class="form-group">
        <label>Vlna: </label>
        <select>
         <option>vlna 1</option>
         <option>vlna 2</option>
        </select>

        <label>Typ: </label>
        <select>
         <option>Python</option> <!-- typy uloh, podla nich typy uzlov v grafe -->
         <option>Hladové algoritmy</option>
         <option>Dynamické programování</option>
        </select>

        <label>Typ odevzdání: </label>
        <select>
         <option>Programovacia</option> <!-- typy ulohy -->
         <option>Teoretická</option>
         <option>ABCD</option>
        </select>

        <label>Max. body:</label>
        <select>
         <option>1</option>
         <option>2</option>
         <option>3</option>
        </select>
      </div>

      <div class="form-group">
        <label>Termín publikace:</label>
        <input type="date" class="form-control">
        <label>Termín uzavření:</label>
        <input type="date" class="form-control">
        <form class="form-group">
          <label>Zveřejnit podle vlny:</label>
          <input type="checkbox">
        </form>
      </div>

      <div class="form-group">
        <label class="inline" for="email">Obrázek:</label> <!-- ako riesit ulohy s viac zdrojmi? obrazky? -->
        <input class="inline" type="file">
      </div>

      <div class="form-group">
        <label class="inline" for="email">Zdroj:</label> <!-- ako riesit ulohy s viac zdrojmi? obrazky? -->
        <input class="inline" type="file">
      </div>

      <div class="row" style="margin-left:0px; margin-top:20px">
        <button class="btn btn-primary inline" id="save">Uložit</button> <!-- TODO button -->
        <button class="btn btn-primary inline" id="delete">Smazat</button> <!-- TODO button -->
      </div>
    </div>
  </div>
</section>
