<section id="admin-vlna-edit" class="container content-section">
  <h2>Úprava vlny 1</h2> <!-- index vlny -->
  {{#link-to "admin/vlny"}}zpět na přehled{{/link-to}}
  <div class="panel panel-ksi" style="margin-top:20px">
    <div class="panel-body">
      <div class="form-group">
        <label>Termín publikace:</label>
        <input type="date" class="form-control">
        <label>Termín uzavření:</label>
        <input type="date" class="form-control">
      </div>

      <div class="form-group">
        <label for="country">Přidat úlohy:</label>
        <select class="form-control">
          <option>uloha 1</option>
          <option>uloha 2</option>
        </select>
      </div>

      <table class="table table-striped">
        <thead>
          <tr style="height:45px">
            <th>Úloha</th>
            <th>Akce</th>
          </tr>
        </thead>
        <tbody>
          <tr style="height:45px">
            <td><a href="#">uloha 1</a></td>
            <td>
              <a href="#">odebrat</a>
            </td>
          </tr>

          <tr style="height:45px">
            <td><a href="#">uloha 2</a></td>
            <td>
              <a href="#">odebrat</a>
            </td>
          </tr>
        </tbody>
      </table>

      <div class="row" style="margin-left:0px; margin-top:20px">
        <button class="btn btn-primary inline" id="save">Uložit</button> <!-- TODO button -->
        <button class="btn btn-primary inline" id="delete">Smazat</button> <!-- TODO button -->
      </div>
    </div>
  </div>
</section>
