<h3 class="visible-print">Diskuze</h3>
    {{#each model.feedbacks.categories as |test123|}}
        <h3>{{test123.text}}</h3>   
        {{#if (eq test123.testType "stars") }}
            *****
        {{/if}}
        {{#if (eq test123.testType "line") }}
            ---
        {{/if}}
        {{#if (eq test123.testType "text_large") }}
            {{input type="text" placeholder="Cokoliv, co tě napadá." value=test123.answer}}
        {{/if}}
        <br>
    {{/each}}
<div style="margin: 20px;">
    {{thread-view thread=model.details.thread store=store taskId=model.id}}
</div>
