<div style="margin:20px">
    <h3 class="visible-print">Řešení</h3>
    <h1>!!! {{model.feedbacks.filled}} !!!</h1>
    {{#if model.details.solution}}
        <div id="task-solution">
            {{{model.details.solution}}}
        </div>
    {{else}}
        Úlohu je ještě možné řešit nebo nebyla ještě opravena.
    {{/if}}
</div>
