<div style="margin:20px">
    <h3 class="visible-print">Řešení</h3>
    {{#if model.details.solution}}
        <div class="task-assignment">
            {{{model.details.solution}}}
        </div>
    {{else}}
        Úlohu je ještě možné řešit nebo nebyla ještě opravena.
    {{/if}}
</div>
