<h3 class="visible-print">Statistika</h3>
<div>
<table class="table table-striped">
  <thead>
    <tr style="height:45px">
      <th style="text-align: center;">Pořadí</th>
      <th>Jméno</th>
      <th>Trofeje</th>
      <th style="text-align: center;">Skóre</th>
    </tr>
  </thead>
  <tbody>
    {{#each model.details.best_scores as |score|}}
    <tr style="height:45px">
      <td class="numbering" style="text-align: center;"></td>
      <td>{{#link-to "user-profile" score.user}}{{score.user.full_name}}{{/link-to}}</td>
      <td>
        {{#each score.user.achievements as |achievement|}}
          {{#link-to 'achievements'}}{{achievement-small model=achievement}}{{/link-to}}
        {{/each}}
      </td>
      <td style="text-align: center;">{{score.score}}</td> <!-- body -->
    </tr>
    {{else}}
      Tato úloha nemá zatím žádná odevzdání
    {{/each}}
  </tbody>
</table>
</div>
