<section class="container content-section" style="margin-bottom:40px; margin-top:50px">
	<h2 id="about">O KSI</h2>
	<p>KSI, neboli Korespondenční Seminář z Informatiky, je celoroční soutěž pro středoškoláky z České i Slovenské republiky organizovaná studenty Fakulty Informatiky Masarykovy Univerzity. Cílem semináře je seznámit řešitele se zajímavými oblastmi informatiky a procvičit programátorské a matematické myšlení.</p>

	<h3>Jak seminář probíhá?</h3>
	<p>Každý ročník semináře se skládá z pěti tematických vln. Sada vždy začíná úvodními příklady, ve kterých vás, řešitele, uvedeme do tématu, vysvětlíme základní myšlenky, pojmy a triky. Následují soutěžní úlohy různého charakteru, na jejichž vyřešení a sepsání řešení máte zhruba jeden měsíc. Zatímco nejjednodušší úlohy by po přečtení úvodního povídání neměly dělat problémy ani úplným začátečníkům, nad tou nejtěžší se může zapotit i ostřílený řešitel programátorských soutěží.</p>
	<p>Zadání zveřejňujeme na našich internetových stránkách a řešitelům je zasíláme i poštou. Odevzdávání úloh a další komunikace pak probíhá přes náš webový systém. Po termínu odevzdání vaše řešení opravíme, obodujeme a okomentujeme. Po vyhodnocení poslední sady úloh jsou nejúspěšnější řešitelé pozváni na týdenní soustředění. Úspěšní řešitelé semináře (ti, kteří dosáhnou alespoň 60 % celkového počtu bodů) jsou zároveň přijati na Fakultu informatiky MU bez přijímacích zkoušek.</p>
	<p>První ročník semináře proběhl již v roce 2006/2007. Zadání úloh, řešení či výsledkové listiny najdete v sekci Archiv.</p>

	<h3>Jaké úlohy mám očekávat?</h3>
	<p>Vaším úkolem ve většině úloh bude řešení algoritmického či programátorského problému. Nikdy ale nebudete potřebovat znát nějaký konkrétní programovací jazyk; naopak, někdy vám poskytneme prostředky pro řešení sami - budou i překvapivé nebo netradiční.</p>
	<p>Některé z našich úloh mohou být složité nebo pracné, i když s dobrým nápadem se většinou dají vyřešit rychle a elegantně. Není třeba vyřešit všechny úlohy sady - pošlete, co vyřešíte, zbytek si po uzavření sady můžete přečíst ve vzorovém řešení. Také není nutné, abyste měli úlohu kompletně dořešenou. I pokud máte jen nějaké nápady co s ní, napište nám je a my vaši snahu určitě oceníme.</p>

	<h3>Proč se účastnit?</h3>
	<ul>
	<li>Procvičíte si své schopnosti, logické a abstraktní myšlení. Získáte nové znalosti a naučíte se nové algoritmy běžně používané v každodenní programátorské praxi.</li>

    <li>Naučíte se své myšlenky jasně formulovat a srozumitelně vyjadřovat</li>

    <li>Připravíte se lépe na matematickou olympiádu kategorie P a jiné soutěže. Trénink je základ úspěchu!</li>

    <li>Přiblíží se vám látka vyučovaná na vysokých školách. Budete schopni se lépe rozhodnout, co chcete studovat, a pokud se rozhodnete pro informatiku, získáte mírný náskok na své budoucí spolužáky.</li>

    <li>Budete-li patřit mezi úspěšné řešitele, budete přijati na Fakultu informatiky MU bez přijímacích zkoušek.</li>

    <li>A hlavně, když budete svědomitě řešit, jistě vás nemine odměna v podobě týdenního soustředění.</li>

	</ul>

  <h2 id="faq">FAQ</h2>
  <!--<p id="date-text">Publikováno 4.8.2015</p>-->

	<div class="panel panel-ksi">
	  <div class="panel-heading panel-heading-ksi">Q: Som Slovák. Môžem písať riešenie v slovenčine?</div>
	  <div class="panel-body">
	    A: Jistě. V organizátorském týmu máme dokonce několik Slováků, takže se slovenština občas objeví i v zadání.
	  </div>
	</div>

	<div class="panel panel-ksi">
	  <div class="panel-heading panel-heading-ksi">Q: Kdo je úspěšný řešitel semináře?</div>
	  <div class="panel-body">
	    A: Každý, kdo dosáhne alespoň 60% celkového počtu bodů. Za každou z pěti sad lze získat 50 bodů, celkem tedy musíš získat alespoň 0.6*250 = 150 bodů.
	  </div>
	</div>

	<div class="panel panel-ksi">
	  <div class="panel-heading panel-heading-ksi">Q: Dozvěděl jsem se o semináři pozdě, první vlna už proběhla. Je možné se ještě přihlásit do semináře?</div>
	  <div class="panel-body">
	    A: Jistě, do semináře se můžeš přihlásit kdykoli. Pouze se snižuje tvá šance stát se úspěšným řešitelem.
	  </div>
	</div>

	<div class="panel panel-ksi">
	  <div class="panel-heading panel-heading-ksi">Q: Budu-li úspěšný řešitel KSI např. v 2. ročníku, budu po maturitě přijat na FI bez přijímaček?</div>
	  <div class="panel-body">
	    A: Ano, pokud jsi úspěšný řešitel semináře v kterémkoli roce a budeš se po maturitě hlásit na FI, budeš přijat.
	  </div>
	</div>
	<p id="date-text">Máš jinou otázku, na kterou ti zde chybí odpověď? Neváhej nám napsat na <a href="mailto:ksi@fi.muni.cz">ksi@fi.muni.cz</a>.</p>
</section>
