<section class="container content-section" style="margin-bottom:40px; margin-top:50px">
	<h2 id="about">O KSI</h2>
	<p>KSI, neboli Korespondenční Seminář z Informatiky, je celoroční soutěž pro středoškoláky z České i Slovenské republiky organizovaná studenty Fakulty informatiky Masarykovy univerzity. Cílem semináře je seznámit řešitele se zajímavými oblastmi informatiky a procvičit programátorské, matematické a logické myšlení.
    Seminář je uzpůsoben jak pro úplné začátečníky, kteří si na jednoduchých příkladech procvičí danou problematiku, tak pro zkušenější řešitele, kteří se pokusí pokořit hlavní soutěžní úlohy.
    </p>


	<h3>Jak seminář probíhá?</h3>
	<p>
    Středobodem semináře je graf úloh, který se snažíš projít a po cestě vyřešit co nejvíce úloh zvládneš.
    Některé části grafu představují základní myšlenky, pojmy a postupy a obsahují jednoduché úlohy, jejichž správnost se vyhodnocuje okamžitě automaticky.
    Jiné obsahují hlavní soutěžní úlohy, na jejichž vyřešení a sepsání máš zhruba jeden měsíc.
    Po termínu odevzdání se úloha uzamče, my tvoje řešení opravíme, přidělíme ti za něj body, poskytneme ti k němu zpětnou vazbu a zveřejníme vzorové řešení úlohy.
    Soutěžní úlohy jsou pak různého charakteru a zatímco nejjednodušší úlohy by po projití úvodních uzlů grafu měl zvládnout každý, nad tou nejtěžší se může zapotit i ostřílený řešitel programátorských soutěží.
    </p>
	<p>
    S ostatními účastníky i organizátory semináře se můžeš potkat na několika výletech.
    Koncem školního roku pak vyhlásíme výsledky a nejlepší řešitele pozveme na týdenní soustředění K-SCUK.
    Úspěšní řešitelé semináře (ti, kteří dosáhnou alespoň 60 % celkového počtu bodů) jsou zároveň přijati na Fakultu informatiky MU bez přijímacích zkoušek.
    </p>

	<h3>Jaké úlohy mám očekávat?</h3>
	<p>
    Tvým úkolem ve většině úloh bude řešení algoritmického či programátorského problému.
    Někdy bude stačit popsat řešení jen obecně pomocí pseudokódu, jindy po tobě budeme chtít i program v Pythonu.
    Pokud programovat neumíš nebo programuješ v jiném jazyce, nemusíš se ničeho bát.
    Python tě pomocí cvičných příkladů rychle naučíme.
    Vždyť přece kolik jazyků umíš, tolikrát jsi člověkem. ;)
    </p>
	<p>Některé z našich úloh mohou být složité nebo pracné, i když s dobrým nápadem se většinou dají vyřešit rychle a elegantně. Není třeba vyřešit všechny úlohy - pošli nám, co zvládneš a zbytek si po uzavření úlohy můžeš přečíst ve vzorovém řešení. Také není nutné, abys měl(a) úlohu kompletně dořešenou. I pokud máš jen nějaké nápady co s ní, napiš nám je a my tvoji snahu určitě oceníme.</p>

	<h3>Proč se účastnit?</h3>
	<ul>
	<li>Procvičíš si programátorské, matematické a logické myšlení a schopnost řešit nelehké problémy s využitím počítače. Získáš nové znalosti a naučíš se algoritmy běžně používané v každodenní programátorské praxi.</li>

    <li>Naučíš se své myšlenky jasně formulovat a srozumitelně vyjadřovat.</li>

    <li>Připravíš se na programátorské i jiné soutěže, např. na matematickou olympiádu kategorie P, ale také na budoucí přijímací zkoušky či pohovory. Trénink je základ úspěchu!</li>

    <li>Přiblíží se ti látka vyučovaná na vysokých školách. Dokážeš se lépe rozhodnout, co chceš studovat, a pokud se rozhodneš pro informatiku, získáš mírný náskok na své budoucí spolužáky.</li>

	<li>Budeš-li patřit mezi úspěšné řešitele, můžeš se těšit na přijetí na Fakultu informatiky MU bez přijímacích zkoušek.</li>

    <li>A hlavně, když budeš svědomitě řešit, jistě tě nemine odměna v podobě týdenního soustředění.</li>

	</ul>

  <h2 id="faq">FAQ</h2>
  <!--<p id="date-text">Publikováno 4.8.2015</p>-->

	<div class="panel panel-ksi">
	  <div class="panel-heading panel-heading-ksi">Q: Som Slovák. Môžem písať riešenie v slovenčine?</div>
	  <div class="panel-body">
	    A: Jistě. V organizátorském týmu máme dokonce několik Slováků, takže se slovenština občas objeví i v zadání.
	  </div>
	</div>

	<div class="panel panel-ksi">
	  <div class="panel-heading panel-heading-ksi">Q: Kdo je úspěšný řešitel semináře?</div>
	  <div class="panel-body">
	    A: Každý, kdo dosáhne alespoň 60% celkového počtu bodů.
	  </div>
	</div>

	<div class="panel panel-ksi">
	  <div class="panel-heading panel-heading-ksi">Q: Dozvěděl jsem se o semináři pozdě, první vlna už proběhla. Je možné se ještě přihlásit do semináře?</div>
	  <div class="panel-body">
	    A: Jistě, do semináře se můžeš přihlásit kdykoli. Pouze se snižuje tvá šance stát se úspěšným řešitelem.
	  </div>
	</div>

	<div class="panel panel-ksi">
	  <div class="panel-heading panel-heading-ksi">Q: Budu-li úspěšný řešitel KSI např. v 2. ročníku, budu po maturitě přijat na FI bez přijímaček?</div>
	  <div class="panel-body">
	    A: Ano, pokud jsi úspěšný řešitel semináře v kterémkoli roce a budeš se po maturitě hlásit na FI, budeš přijat.
	  </div>
	</div>
	<p id="date-text">Máš jinou otázku, na kterou ti zde chybí odpověď? Neváhej nám napsat na <a href="mailto:ksi@fi.muni.cz">ksi@fi.muni.cz</a>.</p>
</section>
