<section id="faq" class="container content-section" style="margin-bottom:40px; margin-top:50px">
	<h2 id="about">O KSI</h2>
	<p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent luctus augue eu ante sodales lacinia id a dui. Nullam volutpat dapibus lacus, a consequat arcu ornare non. Nulla iaculis interdum felis sed suscipit. Nunc rutrum ex turpis, vel mattis turpis tempor eu. Mauris auctor tempus nulla, ac vehicula nisl. Cras ex elit, tempor quis lacinia id, vehicula in magna. Morbi congue lacinia faucibus. Nunc suscipit tristique metus quis convallis. Fusce a risus ut dui ullamcorper aliquet. Nullam sagittis magna ut justo rhoncus, id feugiat nulla luctus. Vivamus at tincidunt diam. Nunc imperdiet, nulla egestas sollicitudin sodales, quam nunc mattis leo, sit amet volutpat est ante a eros. Aenean euismod tortor dui, non ultrices odio bibendum sed. Vivamus ultrices ex in dolor tempor, a mattis magna euismod. </p>
  <h2 id="faq">FAQ</h2>
  <p id="date-text">Publikováno 4.8.2015</p>

	<div class="panel panel-ksi">
	  <div class="panel-heading panel-heading-ksi">Q: Som Slovák. Môžem písať riešenie v slovenčine?</div>
	  <div class="panel-body">
	    A: Jistě. V organizátorském týmu máme dokonce několik Slováků, takže se slovenština občas objeví i v zadání.
	  </div>
	</div>

	<div class="panel panel-ksi">
	  <div class="panel-heading panel-heading-ksi">Q: Kdo je úspěšný řešitel semináře?</div>
	  <div class="panel-body">
	    A: Každý, kdo dosáhne alespoň 60% celkového počtu bodů. Za každou z pěti sad lze získat 50 bodů, celkem tedy musíš získat alespoň 0.6*250 = 150 bodů.
	  </div>
	</div>

	<div class="panel panel-ksi">
	  <div class="panel-heading panel-heading-ksi">Q: Dozvěděl jsem se o semináři pozdě, první vlna už proběhla. Je možné se ještě přihlásit do semináře?</div>
	  <div class="panel-body">
	    A: Jistě, do semináře se můžeš přihlásit kdykoli. Pouze se snižuje tvá šance stát se úspěšným řešitelem.
	  </div>
	</div>

	<div class="panel panel-ksi">
	  <div class="panel-heading panel-heading-ksi">Q: Budu-li úspěšný řešitel KSI např. v 2. ročníku, budu po maturitě přijat na FI bez přijímaček?</div>
	  <div class="panel-body">
	    A: Ano, pokud jsi úspěšný řešitel semináře v kterémkoli roce a budeš se po maturitě hlásit na FI, budeš přijat.
	  </div>
	</div>
	<p id="date-text">Máš jinou otázku, na kterou ti zde chybí odpověď? Neváhej <a href="mailto:ksi@fi.muni.cz">nám napsat.</a></p>
</section>
