<section id="achievements" class="container content-section">
  <h2>Trofeje</h2>
    <hr>
    <div class="panel-body panel-achievement-list">
      {{#each model as |achievement|}}
          {{achievement-big model=achievement}}
      {{else}}
          <p>V tomto ročníku KSI zatím nejsou žádné trofeje.</p>
      {{/each}}
    </div>
</section>
