<section id="results" class="container content-section" style="text-align:justify">
	<!-- Sekcia noviniek -->
  <h2>Trofeje</h2>
	<hr>
  <!-- TODO odomknute trofeje -->
  <div class="row" style="margin-bottom:10px" align="center">
    {{#each model as |trophy|}}
      <div class="col-xs-12 col-sm-4 col-md-3"> <!--trofej -->
        <img src="{{trophy.picture_r}}" width="200px;"/>
        <p id="profile-text">{{trophy.title}}</p>
      </div>
    {{else}}
        <p>V tomto ročníku KSI zatím nejsou žádné trofeje.</p>
    {{/each}}
  </div>
</section>
