<div id="wrapper">
    <div id="header">
        {{header-component}}
        {{#if session.isAuthenticated}}
            {{#if session.current_user.admin}}
              {{header-admin}}
            {{/if}}
        {{/if}}
    </div>

    <div id="content">
        {{outlet}}
    </div>

    <div id="footer">
        {{render "footer"}}
    </div>
</div/>
<script src="js/index.js"></script>
<script src="js/jquery.qtip.js"></script>