<div id="wrapper">
    <div id="header">
        {{header-component model=model}}
        {{#if false}} <!-- admin logged -->
          {{header-admin model=model}}
        {{/if}}
    </div>

    <div id="content">
        {{outlet}}
    </div>

    <div id="footer">
        {{render "footer"}}
    </div>
</div/>
<script src="js/index.js"></script>
