<div id="wrapper">
    <div id="header">
        {{header-component model=model}}
    </div>

    <div id="content">
        {{outlet}}
    </div>

    <div id="footer">
        {{render "footer"}}
    </div>
</div/>
<script src="js/index.js"></script>
