<div id="wrapper">
    <div id="header">
        {{render "header"}}
    </div>

    <!-- Image Background Page Header -->
    <!-- Note: The background image is set within the index.css file. -->
    <div id="content">
        {{outlet}}
    </div>
    
    <div id="footer">
        {{render "footer"}}
    </div>
</div/>
<script src="js/index.js"></script>