<section id="novinky" class="container content-section" style="text-align:justify">
    <div class="panel panel-article" style="margin-top:30px">
      <div class="panel-heading panel-heading-article">
        <img src="http://placehold.it/1600x250" style="width: 100%"> <!-- TODO image -->
        <h1 id="name">
          {{model.title}}
        </h1>
      </div>
      <div class="panel-body panel-body-article">
        <div class="row" >
            {{{model.intro}}}
        </div>
        <div class="row" style="margin-top: 20px">
            {{{model.body}}}
        </div>
      </div>
    </div>
</section>
