<section id="novinky" class="container content-section">
    <div class="panel panel-article" style="margin-top:20px">
      <div class="panel-heading panel-heading-article">
        <h1 id="name">
          <img src={{model.picture}} style="width: 120px; border-radius: 25px;">
          {{{model.title}}}
        </h1>
      </div>
      <div class="panel-body panel-body-article autojustify">
        <div class="row" style="margin-top: 10px">
            {{date-and-time model.time_published 'cs'}}
            {{{model.body}}}
        </div>
      </div>
    </div>
</section>
