<section id="novinky" class="container content-section" style="text-align:justify">
    {{articles-list model=model}}

    {{#pagination-button action='previousPage' enabled=hasPreviousPage }}Přechozí{{/pagination-button}}
    {{#pagination-button action='nextPage' enabled=hasNextPage }}Následující{{/pagination-button}}
</section>