<section id="novinky" class="container content-section autojustify">
    {{articles-list model=model}}
    <ul class="pager">
      {{#pagination-button class="btn btn-primary btn-pager" action='previousPage' enabled=hasPreviousPage }}Přechozí{{/pagination-button}}
      {{#pagination-button class="btn btn-primary btn-pager" action='nextPage' enabled=hasNextPage }}Následující{{/pagination-button}}
    </ul>
</section>
