<section id="novinky" class="container content-section" style="text-align:justify">
    <div class="row" style="margin-top: 30px">
        <h1 id="name" style="color: black"> {{model.title}}</h1>
    </div>
    <div class="row" style="margin-top: 30px">
        {{{model.intro}}}
    </div>
    <div class="row" style="margin-top: 30px">
        {{{model.body}}}
    </div>
</section>
