<section id="novinky" class="container content-section" style="text-align:justify">

    <div class="row" style="margin-top: 30px">
        <h2 id="name" style="color: black">Moje první úloha v ksi</h2> <!-- nazev ulohy -->
    </div>

    <!-- TODO: center name and image -->
    <div class="row" style="margin-top: 15px">
        <div class="col-xs-1 col-md-1">
            <img id="org-photo" src="http://placehold.it/50x50" style="width: 50px">
        </div>
        <div class="col-xs-11 col-md-11">
            <h4 id="org-name"  style="color: #39393a">Honza Mrázek</h4>
        </div>
    </div>
    <div class="row" style="margin-top: 20px">
        <nav class="navbar navbar-uloha" role="navigation">
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <div class="container-fluid">
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav">
                        <li class="active"><a href="#">Zadání <span class="sr-only">(current)</span></a></li>
                        <li><a href="#">Odevzdání</a></li>
                        <li><a href="#">Štatistika</a></li>
                        <li><a href="#">Diskuze</a></li>
                        <li><a href="#">Řešení</a></li>
                    </ul>
                </div><!-- /.navbar-collapse -->
            </div><!-- /.container-fluid -->
        </nav>
    </div>
    <section>
        <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc metus mauris, fringilla quis leo nec, dictum pharetra lacus. Donec varius mauris id libero commodo, sed rhoncus eros varius. Cras magna lorem, imperdiet sed gravida cursus, interdum et orci. Vestibulum mattis purus sed urna volutpat, vitae finibus libero imperdiet. Sed interdum laoreet felis, vitae porta sem rhoncus at. Donec tincidunt scelerisque magna a facilisis. Morbi at aliquet velit. Phasellus vitae congue enim, ac molestie risus. In eget maximus sem, viverra hendrerit urna. Vestibulum mi mauris, luctus ut risus id, porttitor ornare dolor. In turpis turpis, gravida vel turpis ac, sagittis aliquam tellus. Maecenas consequat congue tempor. Aenean lobortis turpis vel pharetra lacinia. Nulla viverra purus ut velit vulputate, sit amet bibendum ligula blandit. Vestibulum bibendum dui quis pretium pretium. Phasellus ac venenatis erat.
        </p>
        <p>
        Donec mattis consectetur erat non suscipit. Sed scelerisque pulvinar erat, non elementum risus. Duis luctus aliquam odio eget volutpat. Etiam tristique feugiat dolor, id egestas nunc pretium in. Cras non cursus nibh. Nullam elementum justo non augue porta malesuada. Sed placerat augue ex, nec consectetur massa auctor vel. Sed eget mi porttitor, varius sapien ac, imperdiet risus. Interdum et malesuada fames ac ante ipsum primis in faucibus.
        </p>
        <p>
        Aliquam commodo iaculis iaculis. Nulla quis molestie tortor. Suspendisse magna est, hendrerit nec risus id, tristique pellentesque diam. Sed varius, tellus eget consectetur pretium, nibh turpis dignissim mauris, quis molestie mi nulla vitae elit. Donec id semper turpis, id dictum erat. Nam placerat nunc pulvinar velit consectetur, in pretium elit vestibulum. Maecenas dapibus felis eget eros dignissim, eu imperdiet mauris venenatis. Nam sodales egestas gravida. In libero odio, cursus ac pharetra in, sollicitudin non diam. Donec dapibus malesuada malesuada. Morbi ac cursus erat, in placerat purus. Aliquam vitae tristique enim. Mauris nec fringilla ante. Nulla facilisi. Maecenas in placerat augue. Duis urna sem, congue elementum libero id, posuere ornare quam.
        </p>
    </section>
    <button type="button" class="btn btn-primary">Stáhni pdf</button>
    <!-- TODO: python odovzdavanie -->
    <!-- TODO: odovzdavaci system -->

</section>
