<section id="err404" class="container content-section">
    <!-- Sekcia noviniek -->
    <div class="jumbotron" style="background-color: transparent">
        <h1>Ano, mohli jsme pro vás připravit hezkou 404 stránku, ale my jsme řekli "NE!"</h1>
        <p>Žádné triky a však znáte tu reklamu, ne?</p>
    </div>
</section>
