<section id="err404" class="container content-section" style="text-align:justify">
	<!-- Sekcia noviniek -->
	<div class="jumbotron" style="background-color: transparent">
	    <h1>Ano, mohli jsme pro vás připravit hezkou 404 stánku, ale my jsme řekli "NE!"</h1>
	    <p>Žádné triky a však znáte tu reklamu, ne?</p>
	</div>
</section>