<section id="faq" class="container content-section" style="text-align:justify">
	<!-- Sekcia noviniek -->
	<div class="jumbotron" style="background-color: transparent">
	    <h1>FAQ</h1>
	    <p id="date-text">Publikováno 4.8.2015</p>
	</div>
</section>
