<!-- footer content -->
<footer class="text-center">
    <div class="footer-above hidden-print">
        <div class="container">
            <div class="row">
                <div class="footer-col col-md-12">
                      <div style="text-align: center; color: #fff; margin-top:-10px"><h3>Odkazy</h3></div>
                      <div class="row row-centered">
                        <a href="mailto:ksi@fi.muni.cz" title="ksi@fi.muni.cz" class="footer-logo inline-footer" id="mail-logo"></a>
                        <a href="https://www.facebook.com/ksi.fi.muni" title="Facebook"class="footer-logo inline-footer" id="facebook-logo"></a>
                        <a href="http://www.fi.muni.cz/index.xhtml.cs" title="Fakulta Informatiky MU" class="footer-logo inline-footer" id="fi-logo"></a>
                        <a href="http://www.muni.cz/" title="Masarykova Univerzita Brno" class="footer-logo inline-footer" id="mu-logo"></a>
                        <!-- TODO: kscuk link -->
                        <a href="http://intersob.math.muni.cz" title="Soutěž InterSoB" class="footer-logo inline-footer" id="sob-logo"></a>
                        <a href="http://interlos.fi.muni.cz" title="INTERnetová LOgická Soutěž" class="footer-logo inline-footer" id="los-logo"></a>
                        <a href="http://zverinec.fi.muni.cz" title="Spolek přátel severské zvěře" class="footer-logo inline-footer" id="zverinec-logo"></a>
                        <a href="http://brkos.math.muni.cz" title="BRněnský KOrespondenční Seminář" class="footer-logo inline-footer" id="brkos-logo"></a>
                        <a href="http://keks.math.muni.cz/" title="Korespondenční EKologický Seminář" class="footer-logo inline-footer" id="keks-logo"></a>
                        <a href="http://ksp.mff.cuni.cz" title="Korespondenční seminář z programování" class="footer-logo inline-footer" id="ksp-logo"></a>
                        <a href="https://www.youtube.com/channel/UCH0K2_tAhkJNlvfRo5NsEIg" title="YouTube" class="footer-logo inline-footer" id="youtube-logo"></a>
                        <a href="https://github.com/fi-ksi" title="KSI @ GitHub" class="footer-logo inline-footer" id="github-logo"></a>
                      </div>
                      <div style="opacity: 0.001; height: 1px;">
                        <img src="/img/logos/email-hover.svg" width="1" height="1"/>
                        <img src="/img/logos/facebook-hover.svg" width="1" height="1"/>
                        <img src="/img/logos/youtube-hover.svg" width="1" height="1"/>
                        <img src="/img/logos/fi-hover.svg" width="1" height="1"/>
                        <img src="/img/logos/mu-hover.svg" width="1" height="1"/>
                        <img src="/img/logos/zverinec-hover.svg" width="1" height="1"/>
                        <img src="/img/logos/keks-hover.svg" width="1" height="1"/>
                        <img src="/img/logos/brkos-hover.svg" width="1" height="1"/>
                        <img src="/img/logos/intersob-hover.svg" width="1" height="1"/>
                        <img src="/img/logos/los-hover.svg" width="1" height="1"/>
                        <img src="/img/logos/ksp-hover.svg" width="1" height="1"/>
                        <img src="/img/logos/github-hover.svg" width="1" height="1"/>
                      </div>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-below">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    Obsah tohoto webu je poskytován pod licenci
                    <a href="https://creativecommons.org/licenses/by-nc/4.0/">CC&nbsp;BY-NC&nbsp;v4.0</a>.
                    Copyright &copy;&nbsp;<a href="/img/ee/tuxs.gif" target="_blank">KSI</a>&nbsp;2015&ndash;2016.
                </div>
            </div>
        </div>
    </div>
</footer>
