<!-- footer content -->
<footer class="text-center">
    <div class="footer-above">
        <div class="container">
            <div class="row">
                <div class="footer-col col-md-12">
                      <div style="text-align: center; color: #fff; margin-top:-10px"><h3>Odkazy</h3></div>
                      <div class="row row-centered">
                        <a href="mailto:ksi@fi.muni.cz" title="ksi@fi.muni.cz" class="footer-logo inline-footer" id="mail-logo"></a>
                        <a href="https://www.facebook.com/ksi.fi.muni" title="Facebook"class="footer-logo inline-footer" id="facebook-logo"></a>
                        <a href="https://www.youtube.com/channel/UC_Sq9u4KZe6oGzPN3zsMa8A" title="YouTube" class="footer-logo inline-footer" id="youtube-logo"></a>
                        <a href="http://www.muni.cz/" title="Masarykova Univerzita Brno" class="footer-logo inline-footer" id="mu-logo"></a>
                        <a href="http://www.fi.muni.cz/index.xhtml.cs" title="Fakulta Informatiky MU" class="footer-logo inline-footer" id="fi-logo"></a>
                        <a href="http://brkos.math.muni.cz" title="BRněnský KOrespondenční Seminář" class="footer-logo inline-footer" id="brkos-logo"></a>
                        <a href="http://keks.math.muni.cz/" title="Korespondenční EKologický Seminář" class="footer-logo inline-footer" id="keks-logo"></a>
                        <a href="http://interlos.fi.muni.cz" title="INTERnetová LOgická Soutěž" class="footer-logo inline-footer" id="los-logo"></a>
                      </div>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-below">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    Tato aktivita je realizována v rámci projektu Popularizace vědy a výzkumu v přírodních vědách a matematice s využitím potenciálu MU, reg. č. CZ.1.07/2.3.00/45.0018.
                    Copyright &copy; KSI 2015
                </div>
            </div>
        </div>
    </div>
</footer>
