<section id="forgot-password" class="container content-section" style="margin-bottom:40px; margin-top:20px">
	<!-- Sekcia noviniek -->
  <h2>Zapomenuté heslo</h2>
  <div class="alert alert-info">
    Zapoměl/a jsi heslo? Napiš nám svůj e-mail a my ti na něj ihned pošleme nové přihlašovací údaje.
  </div>
  {{#if finished}}
  	{{info-general text="Email s instrukcemi ti byl poslán."}}
  {{else}}
	  <div class="password-email-container">
	  	{{#validatable-form action="send" model=model}}
		    {{input value=model.email type="email" class="form-control" id="email" required=true placeholder="e-mail"}}
		    <input type="submit" name="login"  class="btn btn-primary" value="Odeslat">
		    {{#if general_error}}
		    	{{warning-general text=general_error}}
		    {{/if}}
	    {{/validatable-form}}
	  </div>
  {{/if}}
</section>
