<section id="forgot-password" class="container content-section" style="margin-bottom:40px; margin-top:20px">
	<!-- Sekcia noviniek -->
  <h2>Zapomenuté heslo</h2>
  <div class="alert alert-info">
    Zapoměl/a jsi heslo? Napiš nám svůj e-mail a my ti na něj ihned pošleme nové přihlašovací údaje.
  </div>
  <div class="password-email-container">
    <input type="text" name="e-mail" placeholder="e-mail">
    <input type="submit" name="login"  class="btn btn-primary" value="Odeslat">
  </div>
</section>
