<section id="faq" class="container content-section" style="text-align:justify">
	<!-- Sekcia noviniek -->
	<div class="jumbotron" style="background-color: transparent">
	    <h1>Diskuse</h1>
	    <p>Pusto, pusto, pusto...</p>
	</div>
</section>