<div id="ksi-photo" class="container-fluid">
    <div class="text-center">
        {{#link-to "tasks" type="button" class="btn btn-primary btn-lg the-button"}}
        <h3>Začni řešit</h3>
        {{/link-to}}
    </div>
</div>

<!-- Page Content -->
<section id="novinky" class="container content-section" style="text-align:justify">
    <!-- Sekcia noviniek -->
    <div class="jumbotron" style="background-color: transparent">
        <div class="caption-text" style="text-align: center;"><h1>Novinky</h1></div> <!--TODO: dorobit obrazky a datum u noviniek + predelovace -->
        <hr>
        {{articles-list model=model.articles}}
        {{#link-to "articles"}}Další novinky{{/link-to}}
    </div>
</section>

<section id="about-container" class="container-fluid content-section">
    <!-- Sekcia o ksi -->
    <div class="jumbotron" style="background-color: transparent; margin-top:-20px">
      <div style="text-align: center; color: #fff;"><h1>O KSI</h1></div>
      <hr style="color:white; width: 80%; height:3px;">
    </div>
      <div style="margin-top:-30px; margin-bottom:20px">
        <div class="row" style="
          width:80%;
          margin: 0 auto;
          text-align: center;">
          <div class="col-xs-12 col-sm-4">
            {{#link-to "achievements"}}
              <img src="img/info-achievement.svg" style="max-width:100%;"/>
            {{/link-to}}
            <p class="about-paragraph" style="font-size:17px;" align="justify">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean ac auctor leo. Donec imperdiet euismod dui vel ornare. Nullam nec eros laoreet, hendrerit magna non, auctor nisi. Ut vestibulum dui vel elit tempus, ac volutpat dolor accumsan. Morbi commodo blandit nibh vitae suscipit. Cras nec sapien pellentesque, mollis quam nec, vulputate purus.
            </p>
          </div>
          <div class="col-xs-12 col-sm-4">
            <a href="http://ksi.fi.muni.cz/kscuk/">
              <img src="img/info-kscuk.svg" style="max-width:100%;"/>
            </a>
            <p class="about-paragraph" style="font-size:17px;" align="justify">
              Úspěšní řešitelé semináře jsou pozvání na týdenní soustředění K-SCUK, které je společné pro KSI a ekologický seminář KEKS. Náplní soustředění je jak odborný program, kdy se opět naučíte něco nového z informatiky, tak doprovodný zážitkový program. Odborný program se skládá ze zajímavých přednášek, které jdou nad rámec běžné výuky na školách.
            </p>
          </div>
          <div class="col-xs-12 col-sm-4">
            {{#link-to "tasks"}}
              <img src="img/info-ksi.svg" style="max-width:100%;"/>
            {{/link-to}}
            <p class="about-paragraph" style="font-size:17px;" align="justify">
              KSI, neboli Korespondenční Seminář z Informatiky, je celoroční soutěž pro středoškoláky z České i Slovenské republiky organizovaná studenty Fakulty Informatiky Masarykovy Univerzity. Cílem semináře je seznámit řešitele se zajímavými oblastmi informatiky a procvičit programátorské a matematické myšlení.
            </p>
          </div>
          <div class="col-sm-12">
            {{#link-to "about" id="more-about"}}Zjistit více!{{/link-to}}
          </div>
        </div>
      </div>
</section>

<section id="organizatori" class="container content-section">
    <!-- Sekcia organizatoru -->
    <div class="jumbotron" style="background-color: #fff; margin-bottom: 20px">
        <div style="text-align: center; color: #39393a;"><h1>Organizátoři</h1></div>
        <hr>
        {{orgs-list model=model.organisators}}
    </div>
</section>
