<div id="ksi-photo" class="container-fluid">
    <div class="text-center">
        {{#link-to "tasks" type="button" class="btn btn-primary btn-lg the-button"}}
        <h3>Začni řešit</h3>
        {{/link-to}}
    </div>
</div>

<!-- Page Content -->
<section id="novinky" class="container content-section" style="text-align:justify">
    <!-- Sekcia noviniek -->
    <div class="jumbotron" style="background-color: transparent">
        <div class="caption-text" style="text-align: center;"><h1>Novinky</h1></div> <!--TODO: dorobit obrazky a datum u noviniek + predelovace -->
        <hr>
        {{articles-list model=model.articles}}
        {{#link-to "articles"}}Další novinky{{/link-to}}
    </div>
</section>

<section id="about-container" class="container-fluid content-section">
    <!-- Sekcia o ksi -->
    <div class="jumbotron" style="background-color: transparent; margin-top:-20px">
      <div style="text-align: center; color: #fff;"><h1>O KSI</h1></div>
      <hr style="color:white; width: 80%; height:3px;">
    </div>
      <div style="margin-top:-30px; margin-bottom:20px">
        <div class="row" style="
          width:80%;
          margin: 0 auto;
          text-align: center;">
          <div class="col-xs-12 col-sm-4">
            {{#link-to "tasks"}}
              <img src="img/info-ksi.svg" style="max-width:90%;"/>
            {{/link-to}}
            <p class="about-paragraph" style="font-size:18px;" align="justify">
              KSI, neboli Korespondenční Seminář z Informatiky, je celoroční soutěž pro středoškoláky z České i Slovenské republiky organizovaná studenty Fakulty Informatiky Masarykovy Univerzity. Cílem semináře je seznámit řešitele se zajímavými oblastmi informatiky a procvičit programátorské, matematické a logické myšlení. Seminář je uzpůsoben jak pro úplné začátečníky, kteří si na jednodušších příkladech procvičí danou problematiku, tak pro zkušenější řešitele, kteří mají možnost základy přeskočit a rovnou se pustit do záludnějších úloh.
            </p>
          </div>
          <div class="col-xs-12 col-sm-4">
            <a href="http://ksi.fi.muni.cz/kscuk/">
              <img src="img/info-kscuk.svg" style="max-width:90%;"/>
            </a>
            <p class="about-paragraph" style="font-size:18px;" align="justify">
              Při řešení našeho semináře nemusíš jen sedět doma za počítačem. Během roku pro všechny řešitele pravidelně pořádáme výlety (Ksílety), na kterých se můžeš seznámit s ostatními řešiteli, osobně poznat organizátory a zahrát si kupu zajímavých her.
V září se mohou úspěšní řešitelé těšit na týdenní soustředění K-SCUK,  které je společné pro KSI a ekologický seminář KEKS. Náplní soustředění je jak odborný program, díky kterému se opět naučíš něco nového z informatiky, tak bohatý doprovodný program.
            </p>
          </div>
          <div class="col-xs-12 col-sm-4">
            {{#link-to "achievements"}}
              <img src="img/info-achievement.svg" style="max-width:90%;"/>
            {{/link-to}}
            <p class="about-paragraph" style="font-size:18px;" align="justify">
              V průběhu řešení semináře můžeš za překonávání milníků, odevzdávání zajímavých řešení nebo třeba za účast na KSI akcích získat nejrůznější odznáčky. Podaří se ti jich získat co nejvíc? Ulovíš i ty nejvzácnější? Soutěž s ostatními řešiteli a posbírej je všechny!
            </p>
          </div>

          <div class="col-sm-12">
            {{#link-to "about" id="more-about" class="white-link"}}<h2>Zjistit více!</h2>{{/link-to}}
          </div>
        </div>
      </div>
</section>

<section id="organizatori" class="container content-section">
    <!-- Sekcia organizatoru -->
    <div class="jumbotron" style="background-color: #fff; margin-bottom: 20px">
        <div style="text-align: center; color: #39393a;"><h1>Organizátoři</h1></div>
        <hr>
        {{orgs-list model=model.organisators}}
    </div>
</section>
