<div id="ksi-photo" class="container-fluid">
    <div class="text-center">
        {{#link-to "tasks" type="button" class="btn btn-primary btn-lg the-button"}}
        {{#if is_tom}}
            <h3>Získej pravý certifikát právě teď!</h3>
            <h4>Osobně podepsaný Tomem E.!</h4>
        {{else}}
            <h3>Začni řešit</h3>
        {{/if}}
        {{/link-to}}
    </div>
</div>

<!-- Page Content -->
<section id="novinky" class="container content-section autojustify">
    <!-- Sekcia noviniek -->
    <div class="jumbotron" style="background-color: transparent">
        <div class="caption-text" style="text-align: center;"><h1>Novinky</h1></div> <!--TODO: dorobit obrazky a datum u noviniek + predelovace -->
        <hr>
        {{articles-list model=model.articles}}
        {{#if model.articles}}
            {{#link-to "articles"}}Další novinky{{/link-to}}
        {{/if}}
    </div>
</section>

<section id="about-container" class="container-fluid content-section">
    <!-- Sekcia o ksi -->
    <div class="jumbotron" style="background-color: transparent; margin-top:-20px">
      <div style="text-align: center; color: #fff;"><h1>O KSI</h1></div>
      <hr style="color:white; width: 80%; height:3px;">
    </div>
      <div style="margin-top:-30px; margin-bottom:20px">
        <div class="row" style="
          width:80%;
          margin: 0 auto;
          text-align: center;">
          <div class="col-xs-12 col-sm-4">
            {{#link-to "tasks"}}
              <img src="img/info-ksi.svg" style="max-width:90%;"/>
            {{/link-to}}
            <p class="about-paragraph autojustify" style="font-size:18px;">
              KSI, neboli Korespondenční Seminář z&nbsp;Informatiky, je celoroční soutěž pro středoškoláky z&nbsp;České i&nbsp;Slovenské republiky organizovaná studenty Fakulty informatiky Masarykovy univerzity. Cílem semináře je seznámit řešitele se zajímavými oblastmi informatiky a&nbsp;procvičit programátorské, matematické a&nbsp;logické myšlení.
              Seminář je uzpůsoben jak pro úplné začátečníky, kteří si na jednoduchých příkladech procvičí danou problematiku, tak pro zkušenější řešitele, kteří se pokusí pokořit hlavní soutěžní úlohy.
            </p>
          </div>
          <div class="col-xs-12 col-sm-4">
            <a href="http://kscuk.fi.muni.cz/">
              <img src="img/info-kscuk.svg" style="max-width:90%;"/>
            </a>
            <p class="about-paragraph autojustify" style="font-size:18px;">
              Při řešení našeho semináře nemusíš jen sedět doma za počítačem. Během roku pro všechny řešitele pravidelně pořádáme výlety (Ksílety), na kterých se můžeš seznámit s&nbsp;ostatními řešiteli, osobně poznat organizátory a&nbsp;zahrát si kupu zajímavých her.
V&nbsp;září se mohou úspěšní řešitelé těšit na týdenní soustředění K-SCUK, které je společné pro KSI a&nbsp;ekologický seminář KEKS. Náplní soustředění je jak odborný program, díky kterému se opět naučíš něco nového z&nbsp;informatiky, tak bohatý doprovodný program.
            </p>
          </div>
          <div class="col-xs-12 col-sm-4">
            {{#link-to "achievements"}}
              <img src="img/info-achievement.svg" style="max-width:90%;"/>
            {{/link-to}}
            <p class="about-paragraph autojustify" style="font-size:18px;">
              Za každou vyřešenou úlohu dostáváš body. Pokud budeš mít na konci roku alespoň 60 % z&nbsp;celkového možného počtu bodů, staneš se úspěšným řešitelem.
              V&nbsp;průběhu řešení semináře můžeš navíc za překonávání milníků, odevzdávání zajímavých řešení nebo třeba za účast na KSI akcích obdržet nejrůznější odznáčky. Podaří se ti jich získat co nejvíc? Ulovíš i&nbsp;ty nejvzácnější? Soutěž s&nbsp;ostatními řešiteli a&nbsp;posbírej je všechny!
            </p>
          </div>

          <div class="col-sm-12">
            {{#link-to "about" id="more-about" class="white-link"}}<h2>Zjistit více!</h2>{{/link-to}}
          </div>
        </div>
      </div>
</section>

<section id="organizatori" class="container content-section">
    <!-- Sekcia organizatoru -->
    <div class="jumbotron" style="background-color: #fff; margin-bottom: -30px;">
        <div style="text-align: center; color: #39393a;"><h1>Organizátoři</h1></div>
        <hr>
        <div class="row">{{orgs-list model=model.organisators}}</div>
        <div class="row">{{#link-to "orgs"}}Všichni organizátoři{{/link-to}}</div>
    </div>
</section>
