<section id="login" class="container content-section" style="text-align:justify">
	<!-- Sekcia noviniek -->
	<div class="jumbotron" style="background-color: transparent">
	    <h1>Nemáš se kde přihlásit?</h1>
	    <p>Smůla, no...</p>
	</div>
</section>