<section class="container content-section" style="text-align:justify; margin-top: 40px;height:500px;">
    <h3>Je třeba se přihlásit</h3>
    <script>
        $("#login_button").click();
    </script>
</section>
