<section class="container content-section autojustify" style="margin-bottom:40px;">
  <h2 id="nabor">Staň se organizátorem KSI!</h2>
  <p>
  Máš zájem pomoct středoškolákům poznat informatiku? Baví tě vymýšlet úlohy?
  Chceš se přidat do různorodého kolektivu aktivních organizátorů, od prváků až po doktorandy?
  
  Pokud je tvá odpověď ano, rozhodně se neváhej nám napsat. Rádi od tebe uslyšíme a setkáme se s tebou.
  <a href="mailto:ksi@fi.muni.cz">ksi@fi.muni.cz</a>
  </p>

  <p>
  PS: Ano, tahle stránka je work in progress. Pokud by tě vymýšlení úloh moc nebralo,
  zato by sis ale rád šáhnul na webové technologie a něco reálně užívaného vytvořil,
  i na tom by se dalo domluvit. Stačí napsat se nám ozvat mailem, nebo se osobně poptat někoho z organizátorů.
  Jejich seznam je dole na hlavní stránce KSI a je dobrá šance, že se z někým znich znáš nebo tě třeba cvičí. :)
  </p>


</section>
