<section id="profile" class="container content-section" style="text-align:justify">
	<div class="jumbotron" style="background-color: transparent">
	    <h1>Franta řešitel</h1>
	    <p>Vysoký, štíhlý, se zájmem o informatiku!</p>
	</div>
</section>
