<section id="results" class="container content-section">
  <h2>Výsledky</h2>
  <h3>Středoškoláci</h3>
  {{results-list model=results_hs}}

  {{#if results_other}}
      <h3>Ostatní</h3>
      {{results-list model=results_other}}
  {{/if}}

  {{#if session.current_user.organisator}}
    {{#if export_loading}}
        <button class="btn btn-primary disabled inline" title="Úlohu může smazat pouze administrátor.">Exportuji řešitele...</button>
    {{else}}
        <button class="btn btn-primary inline" {{action "export-users" task}}>Exportovat řešitele</button>
    {{/if}}
    <br><br>
  {{/if}}

</section>
