<section id="results" class="container content-section" style="text-align:justify">
	<!-- Sekcia noviniek -->
	<div class="jumbotron" style="background-color: transparent">
	    <h1>Výsledky</h1>
	    <p>Rád bys je viděl, co? Smůla!</p>
	</div>
</section>