<section id="assignments" class="container content-section" style="text-align:justify">
	<!-- Sekcia noviniek -->
	<div class="jumbotron" style="background-color: transparent">
	    <h1>Tady budou osobní nastavení</h1>
	</div>
</section>
