{{#unless session.isAuthenticated}}
	{{warning-login text="nejsi přihlášen. Aby byly tvé operace užloženy, musíš se přihlásit."}}
{{/unless}}

<section id="graph" class="container content-section" style="text-align:justify">
		<div class="row flex-row-md stickycolumn-parent">
			<!-- vysvetlivky -->
			<div class="col-sm-12 col-md-1">
				<div id="graph-info-panel" class="panel panel-ksi stickycolumn">
				  <div class="panel-heading panel-heading-ksi"><h4 align="center">Vysvětlivky</h4></div>
				  <div class="panel-body">
						<img src="img/nodes/base/node-green.svg" class="node-info"/>Algoritmická úloha<br>
						<img src="img/nodes/base/node-blue.svg" class="node-info"/>Programovací úloha<br>
						<img src="img/nodes/base/node-red.svg" class="node-info"/>Speciální úloha<br>
						<img src="img/nodes/base/node-orange.svg" class="node-info"/>Teoretická úloha<br>
						<img src="img/nodes/base/node-bronze-unknown.svg" class="node-info"/>Úloha s překvapením<br>
						<img src="img/nodes/base/node-orange-blue.svg" class="node-info"/>Smíchaná úloha<br>
						<img src="img/nodes/base/node-big.svg" class="node-info-big"/>Velká úloha<br><!--TODO-->
						<hr>
						<img src="img/nodes/base/node-locked.svg" class="node-info"/>Uzamčená úloha<br>
						<img src="img/nodes/base/node-done-icon.svg" class="node-info"/>Opravená úloha<br>
						<img src="img/nodes/base/node-correcting-icon.svg" class="node-info"/>Neopravená úloha<br>
						<hr>
						prerekvizity TODO
				  </div>
				</div>
			</div>

			<!-- graf -->
			<div class="col-sm-12 col-md-11 col-md-offset-1">
    		{{tasks-graph model=model.tasks sub="sub" assign="assign" stat="stat" discuss="discuss" solution="solution" }}
			</div>
		</div>
</section>
