<div id="content">
    <div class="container content-section" id="graph-content">
        <div class="centre" style="margin: 10px">
            <!-- cytoscape graf -->
            <div id="cy"></div>
        </div>
    </div>
</div>
<section id="assignments" class="container content-section" style="text-align:justify">
	<!-- Sekcia noviniek -->
	<div class="jumbotron" style="background-color: transparent">
	    <h1>Tady bude sídlit náš graf, jen počkejte!</h1>
	    <p>(Zde je graf obsahující nula vrcholů a nula hran. Hezké, že?)</p>
	</div>
</section>