<div id="content">
		{{#unless session.isAuthenticated}}
			{{warning-login text="nejsi přihláše, aby byly tvé operace užloženy, musíš se přihlásit."}}
		{{/unless}}
    {{tasks-graph model=model}}
</div>
