<div id="content">
		{{#if true}}
		<div class="alert alert-danger" role="alert">
			<div style="text-align:center">
		  	<strong>Pozor: </strong> nejsi přihlašen, aby byli tvé operace uloženy musíš se přihlásit.
			</div>
		</div>
		{{/if}}
    {{tasks-graph model=model}}
</div>
