<div id="content">
	<h1>Ano, tady je náš graf!</h1>
    {{tasks-graph}}
</div>
<section id="assignments" class="container content-section" style="text-align:justify">
	<!-- Sekcia noviniek -->
	<div class="jumbotron" style="background-color: transparent">
	    <h1>Tady bude sídlit náš graf, jen počkejte!</h1>
	    <p>(Zde je graf obsahující nula vrcholů a nula hran. Hezké, že?)</p>
	</div>
</section>