<section id="thread" class="container content-section autojustify">
    <div style="margin:40px;">
        {{#unless session.isAuthenticated}}
          {{ale-rt type="danger" text="Pro přispívání do diskuse musíš být přihlášen."}}
        {{/unless}}

        <h2>{{{model.title}}}!</h2>
        {{thread-view thread=model store=store}}
    </div>
</section>
